{% extends "layouts/default.html" %}

{% block title %} {{ _('Quản lý chi nhánh') }} {% endblock title %}

{% block stylesheets %}
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css">
{% endblock stylesheets %}

{% block content %}
<style>
    .fix-right-mqn {
        margin-right: 10px;
    }

    .timepicker{
        position: relative;
    }
    /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
    #map {
        height: 100%;
        width: 100%;
    }
</style>
<div class="page-inner">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="d-flex align-items-center">
                        <h4 class="card-title">{{ _('Quản lý địa điểm') }}</h4>
                        <button class="btn btn-primary btn-round ml-auto fix-right-mqn" data-toggle="modal"
                            data-target="#addRowModal">
                            <i class="fa fa-plus"></i>
                            {{ _('Thêm') }}
                        </button>
                        <button class="btn btn-primary btn-round">
                            <span class="btn-label">
                                <i class="fa fa-print"></i>
                            </span>
                            {{ _('In') }}
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <!-- Modal -->
                    <div class="modal fade" id="addRowModal" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header no-bd">
                                    <h5 class="modal-title">
                                        <span class="fw-mediumbold">{{ _('Thông tin địa điểm') }}</span>
                                    </h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form class="addForm" method="post" id="formValidation" novalidate="novalidate">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="form-group form-group-default">
                                                    <label>{{ _('Nhập tên') }}</label>
                                                    <input id="name" name="name" type="text"
                                                        class="form-control" placeholder="{{ _('Nhập tên') }}" required>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                    <div class="form-group form-group-default">
                                                        <label>{{ _('Thời gian bắt đầu') }}</label>
                                                        <input id="checkin" name="start"
                                                            class="form-control timepicker" placeholder="{{ _('Thời gian bắt đầu') }}">
                                                    </div>
                                                </div>
                                            <div class="col-sm-6">
                                                <div class="form-group form-group-default">
                                                    <label>{{ _('Thời gian kết thúc') }}</label>
                                                    <input id="checkout" name="end"
                                                        class="form-control timepicker" placeholder="{{ _('Thời gian kết thúc') }}">
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group form-group-default" style="display: none">
                                                    <label>{{ _('Vĩ độ') }}</label>
                                                    <input id="lat" name="lat">
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group form-group-default" style="display: none">
                                                    <label>{{ _('Kinh độ') }}</label>
                                                    <input id="lng" name="lng">
                                                </div>
                                            </div>
                                            <div class="col-sm-12">
                                                <div class="form-group form-group-default">
                                                    <label>{{ _('Địa chỉ') }}</label>
                                                    <div id="container">
                                                        <div class="row">
                                                            <div class="col-sm-8">
                                                                <input id="address" name="address" type="text" class="form-control" value="Hà Nội, Việt Nam" placeholder="{{ _('Địa chỉ') }}" required>
                                                            </div>
                                                            <div class="col-sm-2">
                                                                <input id="submitTodo" type="button" style="width: 100px; height: 100%;" class="btn btn-info" value="{{ _('Tìm kiếm') }}" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <br>
                                                    <div id="map" style="width: 440px; height: 320px;"></div>
                                                </div>
                                            </div>
                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    <span id="alert" style="color: red"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer no-bd">
                                            <input type="submit" name="" value="{{ _('Thêm') }}" class="btn btn-success">
                                            <input type="reset" name="" value="{{ _('Nhập lại') }}" class="btn btn-danger">
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" id="editRowModal" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header no-bd">
                                    <h5 class="modal-title">
                                        <span class="fw-mediumbold">
                                        {{ _('Sửa địa điểm') }} </span> 
                                    </h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form class="editForm" method="post" id="formEditValidation" novalidate="novalidate">
                                        <div class="row">
                                             <input id="editID" name="editID" type="hidden" class="form-control">
                                            <div class="col-sm-12">
                                                <div class="form-group form-group-default">
                                                    <label>{{ _('Nhập tên') }}</label>
                                                    <input id="editName" name="editName" type="text"
                                                        class="form-control" placeholder="{{ _('Nhập tên') }}" required>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                    <div class="form-group form-group-default">
                                                        <label>{{ _('Thời gian bắt đầu') }}</label>
                                                        <input id="editCheckin" name="editStart"
                                                            class="form-control timepicker" placeholder="{{ _('Thời gian bắt đầu') }}">
                                                    </div>
                                                </div>
                                            <div class="col-sm-6">
                                                <div class="form-group form-group-default">
                                                    <label>{{ _('Thời gian kết thúc') }}</label>
                                                    <input id="editCheckout" name="editEnd"
                                                        class="form-control timepicker" placeholder="{{ _('Thời gian kết thúc') }}">
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group form-group-default" style="display: none">
                                                    <label>{{ _('Vĩ độ') }}</label>
                                                    <input id="latEdit" name="latEdit">
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group form-group-default" style="display: none">
                                                    <label>{{ _('Kinh độ') }}</label>
                                                    <input id="lngEdit" name="lngEdit">
                                                </div>
                                            </div>
                                            <div class="col-sm-12">
                                                <div class="form-group form-group-default">
                                                    <label>{{ _('Địa chỉ') }}</label>
                                                    <div id="container">
                                                        <div class="row">
                                                            <div class="col-sm-8">
                                                                <input id="editAddress" name="editAddress" type="text" class="form-control" value="Hà Nội, Việt Nam" placeholder="{{ _('Địa chỉ') }}" required>
                                                            </div>
                                                            <div class="col-sm-2">
                                                                <input id="submitTodoEdit" type="button" style="width: 100px; height: 100%;" class="btn btn-info" value="{{ _('Tìm kiếm') }}" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <br>
                                                    <div id="mapEdit" style="width: 440px; height: 320px;"></div>
                                                </div>
                                            </div>
                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    <span id="alertEdit" style="color: red"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer no-bd">
                                            <input type="submit" name="" value="{{ _('Sửa') }}" class="btn btn-success">
                                            <input type="reset" name="" value="{{ _('Nhập lại') }}" class="btn btn-danger">
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="table-responsive">
                        <table id="datatable" class="display table table-striped table-hover table-head-bg-primary">
                            <thead>
                                <tr>
                                    <th>{{ _('Tên địa điểm') }}</th>
                                    <th>{{ _('Địa chỉ') }}</th>
                                    <th>{{ _('Bắt đầu') }}</th>
                                    <th>{{ _('Kết thúc') }}</th>
                                    <th style="width: 10%">{{ _('Thao tác') }}</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block javascripts %}

    <script src="/static/assets/js/setting-demo2.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAgOuZWde1UFUOIunPgFFabrbsjPhKxTF0&libraries=&v=weekly"
      defer
    ></script>
    <script >
        let markers = [], markersEdit = [];
        let lat, lng, latEdit, lngEdit = null;

        $(document).ready(function() {
            const geocoder = new google.maps.Geocoder();
            const map = new google.maps.Map(document.getElementById("map"), {
                zoom: 8,
                center: {
                    lat: 21.0277644,
                    lng: 105.8341598
                }
            });
            const mapEdit = new google.maps.Map(document.getElementById("mapEdit"), {
                zoom: 8,
                center: {
                    lat: 21.0277644,
                    lng: 105.8341598
                }
            });
            function addMarker(location) {
                const marker = new google.maps.Marker({
                    position: location,
                    map: map
                });
                markers.push(marker);
            } 
            
            function showMarkers() {
                setMapOnAll(map);
            }

            function setMapOnAll(map) {
                for (let i = 0; i < markers.length; i++) {
                    markers[i].setMap(map);
                }
            }
            // Removes the markers from the map, but keeps them in the array.
            function clearMarkers() {
                setMapOnAll(null);
            }
            $('#datatable').DataTable({
                "pageLength": 10,
                "processing": true,
                "serverSide": true,
                "ajax": "{{ url_for('address_data') }}",
                "columns":[{"data":"1"},{"data":"2"},{"data":"3"},{"data":"4"},{"data":null,"defaultContent":"", "searchable":false,"orderable": false}],
                "columnDefs": [{
                    "targets": [ 4 ],
                    "render": function ( data, type, row ) {
                            return '<td> <div class="form-button-action"> <button type="button" title="" class="btn btn-link btn-primary btn-lg table_item_edit" data-original-title="Edit Task" data-toggle="modal" data-target="#editRowModal" data-id="' + row[0] + '" data-name="' + row[1] + '" data-address="' + row[2] + '" data-start="' + row[3] + '" data-end="' + row[4] +'"> <i class="fa fa-edit"></i> </button> <button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-danger table_item_remove" data-original-title="Remove" data-id="' + row[0] + '" data-name="' + row[1] +'"> <i class="fa fa-times"></i> </button> </div> </td>' ;
                        }
                }],
                "language": {
                    "decimal":        "",
                    "emptyTable":     "{{ _('Không có dữ liệu') }}",
                    "info":           "{{ _('Hiển thị từ _START_ tới _END_ trong tổng số _TOTAL_ dữ liệu') }}",
                    "infoEmpty":      "{{ _('Không có dữ liệu hiển thị') }}",
                    "infoFiltered":   "{{ _('(lọc từ _MAX_ dữ liệu)') }}",
                    "infoPostFix":    "",
                    "thousands":      ",",
                    "lengthMenu":     "{{ _('Hiển thị _MENU_ dữ liệu trên 1 trang') }}",
                    "loadingRecords": "{{ _('Đang tải ...') }}",
                    "processing":     "{{ _('Đang xử lý ...') }}",
                    "search":         "{{ _('Tìm kiếm:') }}",
                    "zeroRecords":    "{{ _('Không tìm thấy dữ liệu') }}",
                    "paginate": {
                        "first":      "<<",
                        "last":       ">>",
                        "next":       ">",
                        "previous":   "<"
                    },
                    "aria": {
                        "sortAscending":  "{{ _(': sắp xếp tăng dần') }}",
                        "sortDescending": "{{ _(': sắp xếp giảm dần') }}"
                    }
                }

            });


            // Edit a record
            $('#datatable').on('click', '.table_item_edit', function (e) {
                var id = $(this).data('id');
                var name = $(this).data('name');
                var address = $(this).data('address');
                var start = $(this).data('start');
                var end = $(this).data('end');
                var lat = $(this).data('latitude');
                var lng = $(this).data('longitude');
                latEdit = lat
                lngEdit = lng
                $("#editID").val(id);
                $("#editName").val(name);
                $("#editAddress").val(address);
                $("#editCheckin").val(start);
                $("#editCheckout").val(end);
                $('#latEdit').val(lat);
                $('#lngEdit').val(lng);

                geocodeAddressEdit(geocoder, mapEdit, address);
                e.preventDefault();     
            } );


            // Delete a record
            $('#datatable').on('click', '.table_item_remove', function (e) {
                e.preventDefault();  
                data_id = $(this).attr("data-id");
                row = $(this).closest('tr');
                swal({
                    title: '{{ _('Bạn có chắc chắn xóa không?') }}',
                    text: "{{ _('Bạn sẽ không thể khôi phục như trước!') }}",
                    type: '{{ _('Cảnh báo') }}',
                    buttons:{
                        confirm: {
                            text : '{{ _('Có') }}',
                            className : 'btn btn-success'
                        },
                        cancel: {
                            text : '{{ _('Không') }}',
                            visible: true,
                            className: 'btn btn-danger'
                        }
                    }
                }).then((Delete) => {
                    if (Delete) {
                        $.ajax({
                            url: '/del_address',
                            data: {id : data_id},
                            type: 'POST',
                            success: function(response) {
                                console.log(response);
                                if (response.success == true)
                                {
                                    showSuccess('{{ _('Title') }}', '{{ _('Xóa thành công') }}');
                                    row.remove();
                                    $('#datatable').DataTable().clear().draw();

                                } else {
                                    showError('{{ _('ETitle') }}', '{{ _('Xóa thất bại') }}');
                                }
                                    
                            },
                            error: function(error) {
                                showError('{{ _('ETitle') }}', '{{ _('Xóa thất bại') }}');
                            }
                        });
                    } else {
                        swal.close();
                    }
                });
                
            } );

            
            $('#formValidation').submit(function(e){     

                e.preventDefault();
                var $form = $(this);
                // check if the input is valid
                if(!$form.valid()) return false;
                if(!lat || !lng){
                    document.getElementById("alert").innerHTML = '{{ _('Chưa chọn địa chỉ') }}';
                    return false;
                } 
                let check_address = document.getElementById("address").value;
                let geocoder = new google.maps.Geocoder();
                geocoder.geocode(
                    {  address: check_address  },
                    (results, status) => {
                        if (status === "OK") {
                            let check_lat = results[0].geometry.location.lat();
                            let check_lng = results[0].geometry.location.lng();
                            if(lat !== check_lat){
                                document.getElementById("alert").innerHTML = '{{ _('Vị trí địa chỉ khác vị trí đã chọn') }}'
                                return false;
                            }
                            else{
                                $.ajax({
                                    url: '/add_address',
                                    data: $('.addForm').serialize(),
                                    type: 'POST', 
                                    processData: false,
                                    success: function(response) {
                                        console.log(response);
                                        if (response.success == true)
                                        {
                                            showSuccess('{{ _('Title') }}', '{{ _('Thêm thành công') }}');
                                            $('#datatable').DataTable().clear().draw();

                                        } else {
                                            showError('{{ _('ETitle') }}', '{{ _('Thêm thất bại') }}');
                                        }
                                            
                                    },
                                    error: function(error) {
                                        showError('{{ _('ETitle') }}', '{{ _('Thêm thất bại') }}');
                                    }
                                });
                                $('#addRowModal').modal('hide');
                            }
                        } else {
                            document.getElementById("alert").innerHTML = '{{ _('Không thể tìm thấy vị trí bạn cần tìm. Hãy thử chọn địa chỉ khác.') }}'
                            return false;
                        }
                    }
                );
            });

            $('#formEditValidation').submit(function(e){     

                e.preventDefault();
                var $form = $(this);

                // check if the input is valid
                if(! $form.valid()) return false;
                if(!latEdit || !lngEdit){
                    document.getElementById("alertEdit").innerHTML = '{{ _('Chưa chọn địa chỉ') }}';
                    return false;
                } 
                let check_address = document.getElementById("editAddress").value;
                let geocoder = new google.maps.Geocoder();

                geocoder.geocode(
                    {  address: check_address  },
                    (results, status) => {
                        if (status === "OK") {
                            let check_lat = results[0].geometry.location.lat();
                            let check_lng = results[0].geometry.location.lng();
                            if(latEdit !== check_lat || lngEdit !== check_lng ){
                                document.getElementById("alertEdit").innerHTML = '{{ _('Vị trí địa chỉ khác vị trí đã chọn') }}'
                                return false;
                            }
                            else{
                                $.ajax({
                                    url: '/edit_address',
                                    data: $('.editForm').serialize(),
                                    type: 'POST',
                                    success: function(response) {
                                        console.log(response);
                                        if (response.success == true)
                                        {
                                            showSuccess('{{ _('Title') }}', '{{ _('Sửa thông tin thành công') }}');
                                            $('#datatable').DataTable().clear().draw();

                                        } else {
                                            showError('{{ _('ETitle') }}', '{{ _('Sửa thông tin thất bại') }}');
                                        }
                                            
                                    },
                                    error: function(error) {
                                        showError('{{ _('ETitle') }}', '{{ _('Sửa thông tin thất bại') }}');
                                    }
                                });

                                $('#editRowModal').modal('hide');
                            }
                        } else {
                            document.getElementById("alertEdit").innerHTML = '{{ _('Không thể tìm thấy vị trí bạn cần tìm. Hãy thử chọn địa chỉ khác.') }}'
                            return false;
                        }
                    }
                );
            });
            document.getElementById("submitTodo").addEventListener("click", () => {
                const address = document.getElementById("address").value;
                geocodeAddress(geocoder, map, address);
            });
            document.getElementById("submitTodoEdit").addEventListener("click", () => {
                const address = document.getElementById("editAddress").value;
                geocodeAddressEdit(geocoder, mapEdit, address);
            });
            function geocodeAddress(geocoder, resultsMap, address) {
                geocoder.geocode(
                    {
                    address: address
                    },
                    (results, status) => {
                    if (status === "OK") {
                        clearMarkers();
                        markers = [];
                        resultsMap.setCenter(results[0].geometry.location);
                        lat = resultsMap.center.lat();
                        lng = resultsMap.center.lng();
                        $('#lat').val(lat);
                        $('#lng').val(lng);
                        const marker = new google.maps.Marker({
                        map: resultsMap,
                        position: results[0].geometry.location
                        });
                        markers.push(marker);
                    } else {
                        document.getElementById("alert").innerHTML = '{{ _('Không thể tìm thấy vị trí bạn cần tìm. Hãy thử chọn địa chỉ khác.') }}'
                    }
                    }
                );
            }
            function geocodeAddressEdit(geocoder, resultsMap, address) {
                geocoder.geocode(
                    {
                    address: address
                    },
                    (results, status) => {
                        if (status === "OK") {
                            clearMarkers();
                            markers = [];
                            resultsMap.setCenter(results[0].geometry.location);
                            latEdit = resultsMap.center.lat();
                            lngEdit = resultsMap.center.lng();
                            $('#latEdit').val(latEdit);
                            $('#lngEdit').val(lngEdit);
                            let marker = new google.maps.Marker({
                                map: resultsMap,
                                position: results[0].geometry.location
                            });
                            markers.push(marker);
                        } else {
                            document.getElementById("alertEdit").innerHTML = '{{ _('Không thể tìm thấy vị trí bạn cần tìm. Hãy thử chọn địa chỉ khác.') }}'
                    }
                    }
                );
            }
        });
    </script>
{% endblock javascripts %}